body {
	background-color: #DEDEDE;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	scrollbar-3dlight-color: #e9e7e1;
	scrollbar-arrow-color: #000055;
	scrollbar-base-color: #646464;
	scrollbar-shadow-color: #000055;
	scrollbar-darkshadow-color: #e9e7e1;
	scrollbar-face-color: #e9e7e1;
	scrollbar-highlight-color: #000055;
	scrollbar-track-color: #b9b7b1;
}
td {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
A:link {
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}
A:hover {
	color: #000000;
	text-decoration: none;
}
A:visited {
	color: #000000;
	text-decoration: underline;
}
input {
	background-color: #CFCFCF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
textarea {
	background-color: #CFCFCF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
select {
	background-color: #CFCFCF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xlinks {
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}

.Xcontainer1 {
	border: 1px solid #000000;
}
.Xtitle1 {
	background-color: #AAB1BB;
	color: white;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xcontent1 {
	background-color: #EFEFEF;
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xfooter1 {
	background-color: #AAB1BB;
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.Xcontainer2 {
	border: 1px solid #000000;
}
.Xtitle2 {
	background-color: #AAB1BB;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xcontent2 {
	background-color: #EFEFEF;
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xfooter2 {
	background-color: #AAB1BB;
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}

.Xcontainer3 {
	border: 1px solid #000000;
}
.Xtitle3 {
	background-color: navy;
	color: white;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xcontent3 {
	background-color: white;
	color: black;
	font-weight: normal;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}
.Xfooter3 {
	background-color: white;
	color: black;
	font-weight: normal;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}

.Xcontainer4 {
	border: 1px solid #000000;
}
.Xtitle4 {
	background-color: navy;
	color: white;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xcontent4 {
	background-color: white;
	color: black;
	font-weight: normal;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}
.Xfooter4 {
	background-color: white;
	color: black;
	font-weight: normal;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}

.Xcontainer5 {
	border: 1px solid #000000;
}
.Xtitle5 {
	background-color: navy;
	color: white;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xcontent5 {
	background-color: white;
	color: black;
	font-weight: normal;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}
.Xfooter5 {
	background-color: white;
	color: black;
	font-weight: normal;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}

.Xcontainer6 {
	border: 0px solid;
}
.Xtitle6 {
	background-color: #DEDEDE;
	color: black;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xcontent6 {
	background-color: #DEDEDE;
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
}
.Xfooter6 {
	background-color: white;
	color: black;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}

.Xcontentfreeform {
	background-color: white;
	color: black;
	font-weight: normal;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
}

.Xiframe {}
.Xpage {}
.Xpagetop {}
.Xpagebottom {}
.Xspacer {}
.Xpageleft {}
.Xpagemiddle {}
.Xpageright {}
