body {
	background-color: #2A381E;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
td {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
A:link {
	color: #FFFFFF;
	text-decoration: underline;
}
A:hover {
	color: #FFFFCC;
	text-decoration: underline;
}
A:visited {
	color: #CCCC33;
	text-decoration: underline;
}
input {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
textarea {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
select {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xlinks {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.Xcontainer1 {
	border: 0px;
}
.Xtitle1 {
	color: white;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xcontent1 {
	color: white;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xfooter1 {
	color: white;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.Xcontainer2 {
	border: 0px;
}
.Xtitle2 {
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xcontent2 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xfooter2 {
	color: white;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.Xcontainer3 {
	border: 1px solid #FFFFFF;
}
.Xtitle3 {
	background-color: #2A381E;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	border-bottom: 1px solid #FFFFFF;
}
.Xcontent3 {
	background-color: #2A381E;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xfooter3 {
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.Xcontainer4 {
	border: 1px dashed #FFFFFF;
}
.Xtitle4 {
	background-color: #2A381E;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	border-bottom: 1px dashed #FFFFFF;
}
.Xcontent4 {
	background-color: #2A381E;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xfooter4 {
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	border-top: 1px dashed #FFFFFF;
}

.Xcontainer5 {
	border: 1px dashed #FFFFFF;
}
.Xtitle5 {
	background-color: #ffffff;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
}
.Xcontent5 {
	background-color: #2A381E;
	color: #FFFFFF;
	font-size: 11px;
}
.Xfooter5 {
	background-color: white;
	color: black;
	font-size: 11px;
}

.Xcontainer6 {
	border: 0px solid;
}
.Xtitle6 {
	background-color: #2A381E;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xcontent6 {
	background-color: #2A381E;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}
.Xfooter6 {
	background-color: #2A381E;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.Xcontentfreeform {
	background-color: white;
	color: black;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
}

.Xiframe {}
.Xpage {}
.Xpagetop {}
.Xpagebottom {}
.Xspacer {}
.Xpageleft {}
.Xpagemiddle {}
.Xpageright {}
